

@font-face {
    font-family: 'doto';
    src: url("../assets/fonts/Doto_Rounded-Medium.ttf") format(truetype);
}

:root { 
    font-family: "Work Sans";
    font-size: 0.8rem;
    font-weight: 400;

    --angle: 45deg; 
    --c-100: #4B0082;
    --c-200: #6A00A0;
    --c-300: #8000BF;
    --c-400: #9400D8;
    --c-400-50: #9400d884;
    --c-500: #ae00ff;

    --c2-shadow: #232323 ;
    --c2-100: #303030;
    --c2-200: #3e3e3e;
    --c2-300: #505050;
    
    --c3-100: #ffffff;

    --red: #da2a2a;
    --red-light: #d55858;

    --yellow: #e8c514;
    --yellow--light: #fcea91;
    
    --backdrop: #23232399;
    
    background-color: var(--c2-100);
    
}

.header{
    font-family: "Work Sans", serif;
    color: var(--c-500);
    border-bottom: 1px solid  var(--c2-300);
    padding: 5px;
    font-size: 1.3rem;
    white-space: nowrap;
    text-shadow: 0px 0px 5px var(--c-500);
    user-select: none;
}

.dotted {
    font-family: doto;
}

.dropdown {
    padding: 5px 10px;
    color: var(--c3-100);
    position: relative;
    border-bottom: 1px solid var(--c2-200);
    transition: background-color .5s;
}

.active {
    border-bottom:none;
}

h2 {
    font-weight: 200;

}

.dropdown::after {
    content: url("../assets/chevron-down.svg");
    position: absolute;
    right: 10px;
    top: 5px;
}


.input-field {
    display: flex;
    flex-direction: column;
    color: var(--c3-100);
    padding: 10px 20px;
}

.input-field label {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.input-field input {
    height: 30px;
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid var(--c2-300);
    color: var(--c3-100);
}

.input-field input:focus {
    outline: 1px solid var(--c-500);
}


.form {
    border-bottom: 1px solid var(--c2-200);
    padding-bottom: 20px;
}

.edu-btn-wrapper {
    width: 100px;
    margin: 0 auto;
}   

.edu-btn-wrapper button {
    padding: 5px;
    width: 100%;
    color: var(--c3-100);
    background-color: var(--c-400);
    border: 1px solid var(--c-500);

    position: relative;
    margin-top: 10px;
    box-shadow: 0px 0px 10px var(--c-500);
}

.edu-btn-wrapper .add-btn::before {
    content: url("../assets/plus-square.svg");
    position: relative;
    top: 3px;
    left: -1px;
}

/* Card Styles */

.card-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.education-card {
    
    background-color: transparent;
    padding: 10px;
    color: var(--c3-100);
    box-shadow: 0px 0px 10px var(--c2-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.education-card h5 {
    font-size: 1.2rem;
}

.btn-wrapper {
    display: flex;
    gap: 20px;
}

.education-card button {
    padding: 5px 10px 2px;
    border: none;
    color: var(--c3-100);
}


.education-card .remove {
    background-color: var(--red);
    box-shadow: 0px 0px 5px var(--red);
    border: 1px solid var(--red-light);
}
.education-card .remove::after {
    content: url("../assets/trash-2.svg");
}


.education-card .edit {
    background-color: var(--yellow);
    box-shadow: 0px 0px 5px var(--yellow);
    border: 1px solid var(--yellow--light);
}
.education-card .edit::after {
    content: url("../assets/edit.svg");
}

/* Dialog style */
dialog {
    background-color: var(--c2-100);
    left: 10%;
    top: 10%;
    border: 1px solid var(--c2-300);
}

dialog  h2 {
    color: var(--c-500);
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: bold;
}

dialog .edu-btn-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.edu-btn-wrapper .cancel-btn {
    background-color: var(--red);
    border: 1px solid var(--red-light);
    box-shadow: 0px 0px 10px var(--red);
}

::backdrop {
    background-color: var(--backdrop);
    filter: blur(10px);
}

/* resume */

.resume-wrapper{
    border: 1px solid var(--c2-300);
    height: 100%;
    width: 100%;
    padding: 10px;
}

.resume {
    background-color: var(--c3-100);
    height: 450px;
    max-width: 350px;
    margin: 0 auto;
}

.resume h3 {
    text-align: center;
}

.profile-info {
    display: flex;
    justify-content: center;
    font-size: 0.5rem;
    margin-bottom: 5px;
}

.profile-info p {
   height: 10px;
   padding-bottom: 13px;
}

.profile-info p:not(:last-child) {
    border-right: 1px solid black;
    padding-right: 10px;
    margin-right: 10px;
    
}