

@font-face {
    font-family: 'doto';
    src: url("../assets/fonts/Doto_Rounded-Medium.ttf") format(truetype);
}

:root { 
    font-family: "Work Sans";
    font-size: 0.8rem;
    font-weight: 400;

    --angle: 45deg; 
    --c-100: #4B0082;
    --c-200: #6A00A0;
    --c-300: #8000BF;
    --c-400: #9400D8;
    --c-400-50: #9400d884;
    --c-500: #ae00ff;

    --c2-shadow: #232323 ;
    --c2-100: #303030;
    --c2-200: #3e3e3e;
    --c2-300: #505050;
    
    --c3-100: #ffffff;

    --red: #da2a2a;
    --red-light: #d55858;

    --yellow: #e8c514;
    --yellow--light: #fcea91;
    
    --backdrop: #23232399;
    
    background-color: var(--c2-100);
    
}



.header{
    font-family: "Work Sans", serif;
    color: var(--c-500);
    border-bottom: 1px solid  var(--c2-300);
    padding: 5px;
    font-size: 1.3rem;
    white-space: nowrap;
    text-shadow: 0px 0px 2px var(--c-500);
    user-select: none;
    background-color: var(--c2-200);
}

.forms-wrapper{
    background-color: var(--c2-200);
}

.dotted {
    font-family: doto;
}

.dropdown {
    padding: 5px 10px;
    color: var(--c3-100);
    position: relative;
    border-bottom: 1px solid var(--c2-200);
    transition: background-color .5s;
    cursor: pointer;
}

.work-card .dropdown {
    font-size: 0.7rem;
    padding: 0px;
    border-bottom: none;
    
}

.active {
    border-bottom:none;
}

h2 {
    font-weight: 200;
}

.work-card h2::after {
    content: url("../assets/chevron-down-sm.svg");
    top: 4px;
    position: relative;
}

.dropdown::after {
    content: url("../assets/chevron-down.svg");
    position: absolute;
    right: 10px;
    top: 5px;
}

.work-card .dropdown::after {
    content: url("");
}

input, textarea{
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid var(--c2-300);
    color: var(--c3-100);
}

input {
    height: 30px;
}

textarea {
    width: 100%;
    min-height: 100px;
}

label {
    font-size: 1.3rem;
    margin-bottom: 5px;
    color: var(--c3-100);
}

.input-field {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}



input:focus, textarea:focus {
    outline: 1px solid var(--c-500);
}


.form {
    border-bottom: 1px solid var(--c2-200);
    padding-bottom: 20px;
}

.work-card .form {
    border-bottom: none;
}

.edu-btn-wrapper {
    width: 100px;
    margin: 0 auto;
}   

button {
    border: 1px solid var(--c-500);
    background-color: var(--c-400);
    box-shadow: 0px 0px 10px var(--c-500);
    cursor: pointer;
}

.edu-btn-wrapper button {
    padding: 5px;
    width: 100%;
    color: var(--c3-100);
    position: relative;
    margin-top: 10px;
}

.add-btn::before {
    content: url("../assets/plus-square.svg");
    position: relative;
    top: 3px;
    left: -1px;
}

/* Card Styles */

.card-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.education-card, .work-card {
    
    background-color: transparent;
    padding: 10px;
    color: var(--c3-100);
    box-shadow: 0px 0px 10px var(--c2-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.education-card h5 {
    font-size: 1.2rem;
}

.btn-wrapper {
    display: flex;
    gap: 20px;
}

.education-card button,
.work-card button {
    padding: 5px 10px 2px;
    border: none;
    color: var(--c3-100);
}

.education-card .remove,
.work-card .remove {
    background-color: var(--red);
    box-shadow: 0px 0px 5px var(--red);
    border: 1px solid var(--red-light);
}

.education-card .remove::after,
.work-card .remove::after {
    content: url("../assets/trash-2.svg");
}

.education-card .edit,
.work-card .edit {
    background-color: var(--yellow);
    box-shadow: 0px 0px 5px var(--yellow);
    border: 1px solid var(--yellow--light);
}

.education-card .edit::after,
.work-card .edit::after {
    content: url("../assets/edit.svg");
}

/* Dialog style */
dialog {
    background-color: var(--c2-100);
    left: 10%;
    top: 10%;
    border: 1px solid var(--c2-300);
}

.work-dialog {
    left: 5%;
    top: 5%;
    height: 600px;
}

dialog  h2 {
    color: var(--c-500);
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: bold;
}

dialog .edu-btn-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.edu-btn-wrapper .cancel-btn {
    background-color: var(--red);
    border: 1px solid var(--red-light);
    box-shadow: 0px 0px 10px var(--red);
}

::backdrop {
    background-color: var(--backdrop);
    filter: blur(10px);
}

/* Skills */

.skill-field {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.form-input-wrapper {
    display: flex;
    gap: 10px;
    
}

.form-input-wrapper input {
    width: 100%;
}


.skill-container {
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.skill-container li {
    border: 1px solid var(--c-500);
    background-color: var(--c-400);
    padding: 5px;
    color: var(--c3-100);
    box-shadow: 0px 0px 10px var(--c-500);
    cursor: pointer;
}

.skill-container li::after {
    content: url("../assets/x-square.svg");
    position: relative;
    top: 4px;
    left: 1px;
}

/* work */

.duty-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 20px;
    padding: 0px;
    
}

.duty-container li {
    color: var(--c3-100);
    background-color: var(--c2-300);
    padding: 10px;
    border: 1px solid var(--c2-300);
    box-shadow: 0px 0px 10px var(--c2-shadow);
    cursor: pointer;
}

.duty-container li:nth-child(even){
    background-color: var(--c2-200);
}

/* resume */

h4{
    font-size: 0.6rem;
}

.resume-wrapper{
    border: 1px solid var(--c2-300);
    height: 100%;
    width: 100%;
    padding: 10px;
}

.resume {
    background-color: var(--c3-100);
    height: 450px;
    width: 100%;
    margin: 0 auto;
    user-select: none;
}

.resume h3 {
    text-align: center;
}

.profile-info {
    display: flex;
    justify-content: center;
    font-size: 0.5rem;
    margin-bottom: 5px;
}

.profile-info p {
   height: 10px;
   padding-bottom: 13px;
}

.profile-info p:not(:last-child) {
    border-right: 1px solid black;
    padding-right: 10px;
    margin-right: 10px;
    
}


/* resume Education */

.resume-education-item h5,
.resume-work-item h5 {
    font-size: 0.5rem;
}

.resume-education-item p,
.resume-work-item p {
    font-size: 0.4rem;
}

.resume-education-item > p {
    margin-top: -5px;
}

.education-item-top {
    display: flex;
    justify-content: space-between;
}

.education-item-top span {
    font-weight: normal;
}

/* resume Skill */

.resume-skill-container,
.resume-work-item ul {
    padding: 0px 20px;
    list-style-type:disc;
    font-size: 0.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

.resume-skill-container li {
    margin-top: -4px;
}

/* resume work */

.resume-work-item p {
    margin-top: -5px;
}

.work-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-item-top span {
    font-weight: normal;
}

.resume-work-item ul {
    grid-template-columns: 1fr;
}

.resume-work-item li {
    margin-top: -4px;
}


@media (min-width: 320px ) {
    .resume {
        height: 450px;
    }
}

@media (min-width: 425px ) {
    .resume {
        height: 550px;

    }
}

@media (min-width: 510px) {
    .resume {
        height: 750px;
    }

    h4{
        font-size: 0.8rem;
    }

    .resume h3 {
        font-size: 1.4rem;
    }

    .profile-info {
        font-size: 0.7rem;
    }

    .resume-education-item h5,
    .resume-work-item h5 {
        font-size: 0.7rem;
    }

    .resume-skill-container,
    .resume-work-item ul {
            font-size: 0.6rem;
    }

    .resume-education-item p,
    .resume-work-item p {
        font-size: 0.6rem;
    }
}

@media (min-width: 620px) {
    .resume {
        height: 850px;
    }

    h4{
        font-size: 0.9rem;
    }

    .resume h3 {
        font-size: 1.5rem;
    }

    .profile-info {
        font-size: 0.8rem;
    }

    .resume-education-item h5,
    .resume-work-item h5 {
        font-size: 0.8rem;
    }

    .resume-skill-container,
    .resume-work-item ul {
            font-size: 0.7rem;
    }

    .resume-education-item p,
    .resume-work-item p {
        font-size: 0.7rem;
    }
}

@media (min-width: 768px) {
    
    :root {
        background-color: var(--c2-shadow);
    }

    .resume {
        height: 100%;
    }

    .app-wrapper{
        display: flex;
        height: 100vh;
    }

    .resume-wrapper {
        
        border: none;
        background-color: var(--c2-shadow);
    }

    .forms-wrapper {
        width: 45%;
        border-right: 1px solid var(--c2-300);
    }

    .dropdown h2 {
        font-size: 1.2rem;
    }

    h4{
        font-size: 0.9rem;
    }

    .resume h3 {
        font-size: 1.5rem;
    }

    .profile-info {
        font-size: 0.8rem;
    }

    .resume-education-item h5,
    .resume-work-item h5 {
        font-size: 0.8rem;
    }

    .resume-skill-container,
    .resume-work-item ul {
            font-size: 0.7rem;
    }

    .resume-education-item p,
    .resume-work-item p {
        font-size: 0.7rem;
    }
}